#criarProduto .modal-body {
  padding: 20px;
  gap: 6px;
  overflow: auto;
}

#criarProduto .modal-body > *,
.modal-body div input {
  gap: 10px;
  min-width: 0;
}

input, select{
    flex-grow:1;
    max-height: 40px;
}

#criarProduto textarea {
  min-height: 130px;
}

.imgAddProduct {
  position: relative;
  display: inline-block;
  width: fit-content;
  border-radius: 8px;
  overflow: hidden;
}

.imgAddProduct img {
  display: block;
}

.imgAddProduct i {
  background-color: #000000aa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;

  line-height: 80px;
  text-align: center;
  color: var(--tertiary);
  width: 100%;
  height: 100%;
  display: none;
}

.imgAddProduct:hover > i,
.variantItem:hover > i {
  display: block;
  cursor: pointer;
}

.variantItem {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 5px 8px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--primary);
}

.variantItem span {
  font-size: 16px;
  border-radius: 8px;
}

.variantItem i {
  background-color: #000000cc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 100%;
  line-height: 80px;
  text-align: center;
  color: var(--primary);
  display: none;
}

@media (max-width: 575px){
    .modal-content, .modal-dialog{
        height: 100vh;
        margin: 0;
    }
}

@media (max-width: 767px){
    main{
        padding-top: 95px;
    }
}

#dashboard{
    padding: 20px;
    gap: 20px;
}

#dashboard .mainTitle{
    margin-bottom: 20px;
    color: var(--branco-cinzento);
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 12px;
}

#dashboard .row{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}

#dashboard .row > *{
  width: 100%;
}

#dashboard .subTitleCard {
    color: var(--red2yellow);
    margin-bottom: 18px;
    margin-left: 8px;
}

#dashboard .listText {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 12px;
    font-size: large;
    color: var(--txt);
}

#dashboard .card{
    background-color: var(--bg-card);
    border: 1px solid var(--primary);
    border-radius: 12px;
    padding: 15px;
    color: var(--txt);
  max-width: none;
  width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.topWantedItem {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.topWantedItem progress {
    width: 100%;
    height: 12px;
    border-radius: 999px;
    overflow: hidden;
    -webkit-appearance: none;
    appearance: none;
    color: var(--primary);
}

/* Chrome, Edge, Safari */
progress::-webkit-progress-value {
  background-color: var(--primary);
  color: var(--cinza-escuro);
}

progress::-webkit-progress-bar {
  background-color: var(--primary);
    color: var(--cinza-escuro);
}

/* Firefox */
progress::-moz-progress-bar {
  background-color: var(--primary);
    color: var(--cinza-escuro);
}


.cardFull {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardFull h3 {
  color: var(--txt) !important;

}

.cardFull span {
  color: var(--primary) !important;
  font-size: 50px;
  vertical-align: middle;
}

@media (max-width: 992px){
  .cardFull span {
      font-size: 38px;
    }
}

@media (max-width: 768px){
    #dashboard .row{
        grid-template-columns: 1fr;
    }
}