/* HOMEPAGE - CARROSSEIS */
.compreJunto,
.ofertas,
.maisVendidos,
.marcas {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.2rem;
    width: 100%;
}

.compreJunto .carrossel,
.ofertas .carrossel,
.maisVendidos .carrossel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.sliderWrapper {
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
}


.sliderWrapper::-webkit-scrollbar {
    display: none;
}


.sliderTrack {
    display: flex;
    gap: 1.6rem;
    padding: 0.8rem;
}


.sliderItem {
    flex: 0 0 calc(50% - 0.8rem);
    max-width: 300px;
}

.ofertas hgroup,
.maisVendidos hgroup,
.marcas hgroup {
    width: 100%;
}

.ofertas .carrossel .slider-item,
.maisVendidos .carrossel .slider-item {
    padding: 0;
    margin: 0;
}

.ofertas hgroup .vejaMais,
.maisVendidos hgroup .vejaMais {
    background-color: transparent;
    color: var(--txt);
    border: none;

    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
}

.ofertas hgroup .vejaMais i,
.maisVendidos hgroup .vejaMais i {
    font-size: 1.6rem;
}

.ofertas .card,
.maisVendidos .card {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    background-color: transparent;
    margin: 0;
    border: none;
    border-radius: 8px;
}

body.darkMode .ofertas .card {
    background-color: var(--preto-fosco);
}

body.darkMode .maisVendidos .card {
    background-color: var(--preto-fosco);
}

.ofertas .cardImgProduto,
.maisVendidos .cardImgProduto {
    object-fit: contain;
    height: 120px;
}

.ofertas .card .card-body,
.maisVendidos .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0;
}

.badge {
    background-color: #990000;
    color: var(--txt);
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


body.darkMode .badge img {
    filter: invert(1) brightness(200%);
}

.ofertas .card .card-body .cardTitle,
.maisVendidos .card .card-body .cardTitle {
    color: var(--txt);
    font-size: 1.6rem;
    font-weight: 500;
}

.ofertas .card .card-body span>sub,
.maisVendidos .card .card-body span>sub {
    font-size: 1rem;
    color: var(--txtMuted);
}

.ofertas .card .card-body span>sub,
body.darkMode .maisVendidos .card .card-body span>sub {
    color: var(--txtMuted);
}

.ofertas .card .card-body .cardTitle,
body.darkMode .maisVendidos .card .card-body .cardTitle {
    color: var(--txt);
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 12px;
    border: none;
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--txtLight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-weight: bold;

    transition: opacity 0.3s ease, visibility 0.3s ease;

}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}


@media (min-width: 768px) {
    .slider-item {
        flex: 0 0 calc(33.333% - 1.1rem);
    }
}

@media (min-width: 992px) {

    .ofertas,
    .maisVendidos,
    .marcas {
        gap: 2.4rem;
    }

    .ofertas .carrossel,
    .maisVendidos .carrossel {
        padding: 0 40px;
    }

    .slider-item {
        flex: 0 0 calc(25% - 1.2rem);
    }

    .ofertas .card .card-body .cardTitle,
    .maisVendidos .card .card-body .cardTitle {
        color: var(--txt);
        font-size: 2rem;
        font-weight: 500;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    main {
        padding: 0 4.8rem;
    }

    .carrossel {
        padding: 0;
    }
}