.page-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--txt);
}

.filter-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--txt);
  margin-bottom: 1rem;
}

.descricao .breadcrumb-item, .descricao .breadcrumb-item a {
  color: var(--txt) !important;
}

.btn-filtrar {
  background-color: var(--secondary);
  color: var(--txtLight);
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border: none;
  transition: all 0.2s ease;
}

.btn-filtrar:hover {
  background-color: var(--primary);
  color: var(--txtLight);
}

.search-filter {
  position: relative;
}

.search-filter input {
  padding-right: 2.5rem;
  background-color: var(--bg);
  border: 1px solid var(--secondary);
}

.search-filter .search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--txt);
}

 #filtros fieldset label {
  color: var(--txt);
  font-size: 1.4rem !important;
  text-align: center;
}

#filtros {
  background-color: var(--bg);
}

.custom-checkbox {
  margin-bottom: 0.5rem;

}



.custom-checkbox .form-check-input {

  border-radius: 4px !important; 
}

.custom-checkbox .form-check-input:checked {
  background-color: var(--bg);
  border-color: var(--secondary);
  background-image: none; 
  position: relative;    
}

.custom-checkbox .form-check-input:checked::after {
  content: "";
  position: absolute;

  top: 4px;
  left: 8px;
  width: 5px;
  height: 10px;
 
  border: solid var(--txt); 
  

  border-width: 0 2px 2px 0;
  
  transform: rotate(45deg);
}

.custom-checkbox .form-check-label {
  cursor: pointer;
  font-size: 1.2rem;
}

.size-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}

.btn-filtrar {
  background-color: var(--secondary);
  color: var(--txtLight);
  border-radius: 6px;
  padding: 0.5rem 1.5rem;
  font-weight: 500;
  border: none;
  transition: all 0.2s ease;
  font-size: 1.4rem;
}

.btn-size {
  background-color: var(--branco-cinzento);
  border: 1px solid transparent;
  color: var(--txtMuted);
  border-radius: 4px;
  padding: 0.5rem 0;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-size:focus,
.btn-size.active {
  background-color: var(--bg);
  border: 2px solid var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary);
}

#gridProdutosBusca .slider-item {
  flex: none;
  max-width: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#gridProdutosBusca .linkCardProduto {
  display: block;
  height: 100%;
}


#gridProdutosBusca .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background-color: transparent;
  margin: 0;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


#gridProdutosBusca .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}


body.darkMode #gridProdutosBusca .card {
  background-color: var(--preto-fosco);
}

#gridProdutosBusca .cardImgProduto {
  object-fit: contain;
  height: 120px;
  width: 100%;
  max-width: 115px;
  background-color: var(--bg-light);
}


#gridProdutosBusca .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0;
}


#gridProdutosBusca .card .card-body .cardTitle {
  color: var(--txt);
  font-size: 1.6rem;
  font-weight: 500;
}

#gridProdutosBusca .card .card-body span>sub {
  font-size: 1rem;
  color: var(--txtMuted);
}


body.darkMode #gridProdutosBusca .card .card-body .cardTitle {
  color: var(--txt);
}

body.darkMode #gridProdutosBusca .card .card-body span>sub {
  color: var(--txtMuted);
}


#gridProdutosBusca .badge {
  background-color: #990000;
  color: var(--txt);
  font-size: 1.2rem;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

body.darkMode #gridProdutosBusca .badge img {
  filter: invert(1) brightness(200%);
}

@media (min-width: 992px) {
  #gridProdutosBusca .card .card-body .cardTitle {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {

  #gridProdutosBusca {
    margin-top: 1rem;
  }
}

@media (max-width: 776px) {
  main {
    margin-top: 10rem;
  }
}

@media (max-width: 575px) {
  .search-filter input {
    padding-right: 2rem;
  }

  .search-filter .search-icon {
    right: 5px;
  } 
  main {
    padding: 10px;
  }
}