#carrinho {
    padding: 20px 128px;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 20px;
}

.cartItem img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.quantityControl button{
    padding: 1px 9px;
    font-size: 18px;
    font-weight: bold;
}

.remove {
    margin-left: 10px;
}

.quantityControl span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.red {
    color: var(--primary);
}