#carrinho {
    padding: 20px 64px;
}

.cartItens {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: start;
    max-width: 70%;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
    width: 100%;
    max-width: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 10px;
}

.cartItem img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.quantityControl button{
    padding: 1px 9px;
    font-size: 18px;
    font-weight: bold;
}

.remove {
    margin-left: 10px;
}

.quantityControl span {
    margin: 0 10px;
    font-size: 16px;
    font-weight: bold;
    vertical-align: middle;
}

.red {
    color: var(--primary);
}

@media (max-width: 576px) {
    #carrinho {
        padding: 120px 16px;
    }

    .cartItens {
        grid-template-columns: 1fr;
        max-width: none;
    }
}

@media (min-width:576px) and (max-width: 768px) {
    #carrinho {
        padding: 120px 16px;
    }
    
}

@media (min-width: 576px) and (max-width: 992px) {
    .cartItens {
        grid-template-columns: 1fr;
            max-width: 55%;
    }
}


